<IfModule mod_rewrite.c>
    RewriteEngine On

    # Palitan kung nasa subfolder
    # RewriteBase /thelia-main/

    Options -Indexes

    # Skip existing files/folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect lahat ng iba sa index.php
    RewriteRule ^ index.php [QSA,L]

    # Admin panel
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^admin/(.*)$ admin/index.php [QSA,L]

    # Proteksyon sa config files
    <FilesMatch "config.php|settings.php">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
